@import 'partials/normalize';
@import 'mixin';
@import 'partials/slick';
@import 'partials/priority-nav-core';


*{
	box-sizing: border-box;
}
body{
	background-color: #F2F2F2;
	font-family: 'Roboto', sans-serif;
	&.lock{
		overflow: hidden;
	}
}
.container{
	max-width: 1220px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}



//Блок история бренда
@import "componets/brand";